[user]
	name = Richard Bishop
	email = rbishop87@gmail.com
[core]
	excludesfile = /Users/rb/.gitignore
[color]
  branch = auto
  diff = auto
  status = auto
[filter "trimWhitespace"]
	clean = git-stripspace
