<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.xhyve</string>

    <key>UserName</key>
    <string>root</string>

    <key>WorkingDirectory</key>
    <string>/Users/rb/virtual-machines</string>

    <key>ProgramArguments</key>
    <array>
      <string>./run.sh</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
      <key>Crashed</key>
      <true/>
      <key>SuccessfulExit</key>
      <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/rb/virtual-machines/logs/stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/rb/virtual-machines/logs/stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
  </dict>
</plist>
